body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header-links a,
.logo {
    text-decoration: none;
    color: #748D92;
}

.everything {
    display: flex;
    flex-direction: column;
    
}

.header {
    display: flex;
    align-items: center;
    padding: 15px 150px 15px;
    background-color: #212A31;
    
}

.header-links {
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-left: auto;
}

.hero {
    display: flex;
    background-color: #212A31;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.hero-introduction {
    font-size: 48px;
    font-weight: 800;
    color: #D3D9D4;
}

.intro-subtext {
    color:#2E3944;
    font-size: 18px;
    font-weight: 600;
}

.hero-img {
    width: 500px;
    height: 350px;
    margin-right: 100px;
}

.all-text {
    display: flex;
    flex-basis: 720px;
    flex-direction: column;
    margin: 0px 100px 0px;
    align-items: center;
}

#button1 {
    width: 110px;
    height: 35px;
    font-weight: bold;
    background-color: #124E66;
    border: 0px;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    
}

#pic-title {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 15px;
    color: #748D92;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 700;
}

.tongue,
.duo,
.multiple,
.brown-white {
    width: 200px;
    height: 200px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
    color: #748D92;
}

.image-container img {
    border: 5px solid #124E66;
    border-radius: 20px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    height: 180px;
    
}
#quote-text {
    color: #2E3944;
    font-size: 30px;
    font-style: italic;
    padding: 0px 200px;
}

#quote-author {
    display: flex;
    align-self: flex-end;
    padding-bottom: 50px;
    padding-right: 210px;
}

.sign-container {
    background-color: #124E66;
    display: flex;
    margin: 50px 200px;
    border-radius: 7px;
    height: 100px;
    align-items: center;
}

#sign-top, 
#sign-bottom,
#sign-button {
    color: #D3D9D4; 
}

#sign-button {
    background-color: #124E66;
    height: 35px;
    border-radius: 10px;
    border: solid white 2px;
    width: 110px;
}

#sign-top {
    font-size: 18px;
    margin-bottom: 5px;
}

.sign-text {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    font-weight: 600;
}

.sign-button-container {
    display: flex;  
    justify-content: flex-end;
    flex: 1;
    padding-right: 400px;
}


#sign-bottom {
    margin-top: 0px;
    opacity: 0.6;
}